@import '~antd-mobile/lib/style/themes/default';

html, body, :global(#root) {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
